html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  background-color: #f0f0f0;
  color: #474D5D;
  display: flex;
  /* flex-direction: column; */
}

.main {
  width: 100%;
}

/* Colors: -----------------------------------------------------------------------------------------------------------*/

.color--text-light {
  color: #d1d1d1;
}

.color--text-dark {
  color: #474D5D;
}

.color--gray1 {
  background-color: #303745;
}

.color--gray2 {
  background-color: #484f5e;
}

.color--gray3 {
  background-color: #79849b;
}

.color--white {
  background-color: #fff;
}

.color--light1 {
  background-color: #f6f1ed;
}

.color--orange {
  background-color: #FF6300;
}

/* Green Color theme: http://www. bitpubl imedia. ro/themes/sapphire-wp/services/ */
.color--green1 {
  background-color: #0fae8e;
}

.color--green2 {
  background-color: #0cc2aa;
}

.color--green2 {
  background-color: #6fd589;
}

.color--violet {
  background-color: #9b4dca;
}

.color-wet-asphalt {
  background-color: #34495E;
}

.color-midnight-blue {
  background-color: #2C3E50;
}

.feather, .fas {
  width: 18px;
  height: 18px;
}

/* Sidebar: --------------------------------------------------------------------------------------------------------- */

.sidebar {
  min-width: 220px;
  max-width: 220px;
  min-height: 100vh;
  transition: margin .4s ease-in-out;
  z-index: 2
}

.sidebar,.sidebar-content {
  background: #303745
}

.sidebar-sticky .sidebar-nav {
  padding-bottom: 0
}

.sidebar-sticky .sidebar-content {
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 220px
}

.sidebar-nav {
  padding-bottom: 3.5rem;
  padding-left: 0;
  list-style: none
}

.sidebar-link .feather,.sidebar-link svg,.sidebar-link .fas {
  margin-right: .75rem;
  color: #fff;
}

.sidebar-link,a.sidebar-link {
  display: block;
  padding: .75rem 1.25rem;
  color: #ced4da;
  background: #303745;
  transition: background .1s ease-in-out,color .1s ease-in-out;
  position: relative;
  text-decoration: none;
}

.sidebar-link:focus {
  outline: 0
}

.sidebar-item.active .sidebar-link:hover,.sidebar-link:hover {
  color: #ced4da;
  background: #484f5e
}

.sidebar-dropdown .sidebar-link {
  padding-left: 2.5rem;
  color: #adb5bd;
  background: #2a303c;
}

.sidebar-dropdown .sidebar-item.active .sidebar-link,.sidebar-dropdown .sidebar-link:hover {
  color: #e9ecef;
  background: #484f5e
}

.sidebar [data-toggle=collapse] {
  position: relative
}

.sidebar [data-toggle=collapse]:before {
  content: " ";
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.2rem;
  right: 1.25rem;
  transition: all .2s ease-out
}

.sidebar [aria-expanded=true]:before,.sidebar [data-toggle=collapse]:not(.collapsed):before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 1.4rem
}

.sidebar-brand {
  font-weight: 500;
  font-size: 1.15rem;
  padding: 1.15rem 1.25rem;
  color: #f8f9fa;
  display: block
}

.sidebar-brand:hover {
  text-decoration: none;
  color: #f8f9fa
}

.sidebar-brand:focus {
  outline: 0
}

.sidebar-brand .feather,.sidebar-brand svg {
  color: #08ab89;
  height: 24px;
  width: 24px;
  margin-left: -.15rem;
  margin-right: .375rem
}

.sidebar-toggle {
  cursor: pointer;
  width: 26px;
  height: 26px
}

.sidebar:not(.sidebar-collapsed).toggled {
  margin-left: -220px
}

@media (min-width: 1px) and (max-width:767.98px) {
  .sidebar:not(.sidebar-collapsed) {
      margin-left:-220px
  }

  .sidebar:not(.sidebar-collapsed).toggled {
      margin-left: 0
  }
}

.sidebar-collapsed.toggled {
  margin-left: -220px
}

.sidebar-header {
  background: transparent;
  color: #adb5bd;
  padding: .375rem 1.25rem;
  font-size: .75rem
}

.sidebar-bottom {
  padding: 1rem;
  width: inherit;
  font-size: .8rem;
  bottom: 0;
  position: fixed;
  background: #2a303c;
  min-width: 220px;
  max-width: 220px;
  color: #e9ecef;
  z-index: 3
}

.sidebar-badge {
  position: absolute;
  right: 15px;
  top: 14px
}

.badge-primary {
  color: #fff;
  background-color: #08ab89;
}

.badge-secondary {
  color: #fff;
  background-color: #a180da;
}

/* ------------------------------------------------------------------------------------------------------------------ */

img {
  width: 100%;
}
/* #152028 */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.map-menu {
  width: 800px;
  height: 100%;
  /* position: absolute; */
  /* opacity: 0.9; */
  overflow-y: scroll;
}

.trip-card {
  display: block;
  color: gray;
}

.flight-card {
  border-left: 5px solid #5A8DBE;
  border-top: 5px;
  color: #bbb;
  padding: 5px;
  margin-bottom: 5px;
}

.flight-card .fas {
  margin: 0 10px 0 10px;
  color: #5A8DBE;
}

.ground-card {
  height: 50px;
  background: #FF6300;
}

.route-container {
  /* height: 100%; */
  /* width: 70%;
  margin: 0 auto;
  margin-top: 20px;  */
  margin-bottom: 20px; 
  border-radius: 10px;
  /* overflow: hidden; */
}

.route-container > div:first-of-type {
  height: 100%;
}

/* start: vertical input group */
.input-group-vertical {
  margin-bottom: 10px;
}
.input-group-vertical .form-control {
  border-radius: 0;
}
.input-group-vertical .form-group {
  margin-bottom: 0;
}
.input-group-vertical .form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}
.input-group-vertical .form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group-vertical .form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}
/* end */

.btn-group, .btn-group-vertical {
  float: right;
}

.lat-long {
  display: flex;
  flex-direction: column;
  font-size: small;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  width: 75px;
}

.flight-menu-controls {
  display: block;
  align-self: center;
}

.add-flight-point {
  width: 100%;
}

.flight-card-controls__edit-mode .btn,
.flight-card-controls__view-mode .btn {
  border: none;
}

.places-autocomplete {
  flex: auto;
}

.autocomplete-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  color: #373a3c;
  position: absolute;
  z-index: 5;
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #fafafa;
}

.new-trip-form {
  display: block;
}

.map-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.user-photo {
  height: 250px;
  background-image: url("img/user.jpg");
  background-size: cover;
}