html, body, #root, .App {
  height: 100%;
}

img {
  width: 100%;
}
/* #152028 */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.dark1 {
  background-color: #152028;
}

.dark2 {
  background-color: #0E161B;
}

.orange1 {
  background-color: #FF6300;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.map-menu {
  width: 500px;
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(21,32,40,1); /*14,22,27*/
  /* opacity: 0.9; */
}

.flight-card {
  height: 50px;
  /* border: 1px solid #5A8DBE; */
  border-left: 5px solid #5A8DBE;
  border-top: 5px;
  color: #bbb;
  padding: 5px;
  margin-bottom: 5px;
}

.flight-card .fas {
  margin: 0 10px 0 10px;
  color: #5A8DBE;
}

.ground-card {
  height: 50px;
  background: #FF6300;
}

.route-container > div:first-of-type {
  height: 100%;
}