@import "./const.scss";

html, body, #root, .App, main, .main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem; // 14px
  font-weight: 400;
  line-height: 1.5;
}

.App {
  color: $text-dark;
  display: flex;
}

main, .main {  
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.feather, .fas {
  width: 18px;
  height: 18px;
}

.badge-primary {
  color: #fff;
  background-color: #08ab89;
}

.badge-secondary {
  color: #fff;
  background-color: #a180da;
}

img {
  width: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.trip-card {
  display: block;
  color: gray;
}

.flight-card {
  border-left: 5px solid #5A8DBE;
  border-top: 5px;
  color: #bbb;
  padding: 5px;
  margin-bottom: 5px;
}

.flight-card .fas {
  margin: 0 10px 0 10px;
  color: #5A8DBE;
}

.ground-card {
  height: 50px;
  background: #FF6300;
}

.route-container {
  /* height: 100%; */
  /* width: 70%;
  margin: 0 auto;
  margin-top: 20px;  */
  margin-bottom: 20px; 
  border-radius: 10px;
  /* overflow: hidden; */
}

.route-container > div:first-of-type {
  height: 100%;
}

/* start: vertical input group */
.input-group-vertical {
  margin-bottom: 10px;
}
.input-group-vertical .form-control {
  border-radius: 0;
}
.input-group-vertical .form-group {
  margin-bottom: 0;
}
.input-group-vertical .form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}
.input-group-vertical .form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group-vertical .form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}
/* end */

.btn-group, .btn-group-vertical {
  float: right;
}

.lat-long {
  display: flex;
  flex-direction: column;
  font-size: small;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  width: 75px;
}

.flight-menu-controls {
  display: block;
  align-self: center;
}

.add-flight-point {
  width: 100%;
}

.flight-card-controls__edit-mode .btn,
.flight-card-controls__view-mode .btn {
  border: none;
}

.places-autocomplete {
  flex: auto;
}

.autocomplete-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  color: #373a3c;
  position: absolute;
  z-index: 5;
}

.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.suggestion-item--active {
  background-color: #fafafa;
}

.new-trip-form {
  display: block;
}

.user-photo {
  height: 250px;
  background-image: url("../img/user.jpg");
  background-size: cover;
}

.statement-summary {
  display: flex;
}

.summary-content {
  display: flex;
  margin: 0 auto;
  align-self: center;
}

.statement-summary .input-group-append .input-group-text {
  width: 40px;
}

.statement-summary input {
  /* width: 150px; */
}

/* .lifeChartContainer {
  width: 1000px;
} */






.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: #000
}

.h1,h1 {
  font-size: 1.75rem
}

.h2,h2 {
  font-size: 1.53125rem
}

.h3,h3 {
  font-size: 1.3125rem;
}

.h4,h4 {
  font-size: 1.09375rem
}

.h5,.h6,h5,h6 {
  font-size: .875rem
}





/* Cards ---------------------------------------------------------------------------------------------------- */
.card {
  margin-bottom: 2rem
}

.card-header {
  border-bottom-width: 1px;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e9f2
}

.card-title {
  font-size: 1rem;
}

.card-subtitle {
  font-weight: 400;
}

.card-table {
  margin-bottom: 0
}

.card-table tr td:first-child,.card-table tr th:first-child {
  padding-left: 1.25rem
}

.card-table tr td:last-child,.card-table tr th:last-child {
  padding-right: 1.25rem
}

.card-img-top {
  height: 100%
}

/* ------------------------------------------------------------------------------------------------------------------ */

a {
  color: #08ab89;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:hover {
  color: #099280;
  text-decoration: underline
}

.btn-primary {
  color: #fff;
  background-color: #08ab89;
  border-color: #08ab89;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0a9e8a;
  border-color: #099280;
}

.btn-primary.focus,.btn-primary:focus {
  box-shadow: 0 0 0 .1rem rgba(12,194,170,.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .1rem rgba(12,194,170,.5);
  background-color: #0a9e8a;
  border-color: #099280;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(15,174,142, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.3);
  outline: 0 none;
}
