$midnight-blue: #2C3E50;
$wet-asphalt: #34495E;
$violet: #9b4dca;
/* Green Color theme: http://www. bitpubl imedia. ro/themes/sapphire-wp/services/ */
$green1: #0fae8e;
$green2: #0cc2aa;
$green3: #6fd589;
$gray1: #303745;
$gray2: #484f5e;
$gray3: #79849b;
$white: #fff;
$light1: #f6f1ed;
$orange: #FF6300;

$text-light: #d1d1d1;
$text-dark: #474D5D;
$text-dark-alt: #6c757d;

$gray-border: #dee2e6;

$sm-and-up: 576px;
$md-and-up: 768px;
$lg-and-up: 992px;
$xl-and-up: 1200px;

$sm-and-down: 575.98px;
$md-and-down: 767.98px;
$lg-and-down: 991.98px;
$xl-and-down: 1199.98px;

.color-wet-asphalt {
  background-color: #34495E;
}