$midnight-blue: #2C3E50;
$wet-asphalt: #34495E;

/* Green Color theme: http://www. bitpubl imedia. ro/themes/sapphire-wp/services/ */
$green0: #0a9e8a; // primary (:hover)
$green1: #0fae8e; // primary
$green2: #0cc2aa;
$green3: #6fd589;

$violet0: #9b4dca;
$violet1: #a180da; // badge secondary

$gray0: #2a303c;
$gray1: #303745;
$gray2: #484f5e;
$gray3: #79849b;

$white: #fff;

$orange: #FF6300;

$text-dark: #474D5D;
$text-dark-alt: #6c757d;
$text-light: #d1d1d1;
$text-light-alt: #f8f9fa;
$text-light-alt2: #adb5bd;

$gray-border: #dee2e6;

$sm-and-up: 576px;
$md-and-up: 768px;
$lg-and-up: 992px;
$xl-and-up: 1200px;

$sm-and-down: 575.98px;
$md-and-down: 767.98px;
$lg-and-down: 991.98px;
$xl-and-down: 1199.98px;

.color-wet-asphalt {
  background-color: #34495E;
}