/* Colors: -----------------------------------------------------------------------------------------------------------*/

.color--text-light {
  color: #d1d1d1;
}

.color--text-dark {
  color: #474D5D;
}

.color--gray1 {
  background-color: #303745;
}

.color--white {
  background-color: #fff;
}

/* Green Color theme: http://www. bitpubl imedia. ro/themes/sapphire-wp/services/ */
.color--green1 {
  background-color: #0fae8e;
}

.color--green2 {
  background-color: #0cc2aa;
}

.color--green2 {
  background-color: #6fd589;
}

.color--violet {
  background-color: #9b4dca;
}

.color-wet-asphalt {
  background-color: #34495E;
}

.color-midnight-blue {
  background-color: #2C3E50;
}



$midnight-blue: #2C3E50;
$wet-asphalt: #34495E;
$violet: #9b4dca;
$green1: #0fae8e;
$green2: #0cc2aa;
$green2: #6fd589;
$gray1: #303745;
$gray2: #484f5e;
$gray3: #79849b;
$white: #fff;
$light1: #f6f1ed;
$orange: #FF6300;

$text-light: #d1d1d1;
$text-dark: #474D5D;