@import './const.scss';

a {
  color: $green1;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;

  &:hover {
    color: $green0;
    text-decoration: underline;
  }
}

.btn-primary {
  background-color: $green1;
  border-color: $green1;

  &:hover {
    background-color: $green0;
    border-color: $green0;
  }

  &.focus, &:focus {
    box-shadow: 0 0 0 .1rem rgba(12,194,170,.5);
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .1rem rgba(12,194,170,.5);
  background-color: $green1;
  border-color: $green1;
}

select:focus, select.form-control:focus,
textarea:focus, textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: $green2;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px $green1;
  box-shadow: none;
  // outline: 0 none;
}

.form-control::placeholder {
  color: #bbb;
}

.card {
  margin-bottom: 2rem;

  .card-header {
    border-bottom-width: 1px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2;
  }

  .card-img-top {
    height: 100%;
  }

  .card-body {
    .card-title {
      font-size: 1rem;
    }

    .card-subtitle {
      font-weight: 400;
    }
  }
}

.badge-primary {
  background-color: $green1;
}

.badge-secondary {
  background-color: $violet1;
}